<!-- base.htmlを読み込む。 -->
{% extends "bootstrap/base.html" %}
{% block content %}
<div class="container pb-4">
  <h1 class="text-center mb-3">新規登録</h1>
  <form method="POST">
  <p class="w-25 fw-bold fs-5">今日の日付:{{ created_at }}</p>
  <div class="mb-4">
    <label class="fw-bold fs-5 form-label" for="upper_morning">血圧/上(朝)</label>
    <input class="form-control" type="number" name="upper_morning" id="upper_morning">
  </div>
  <div class="mb-4">
    <label class="fw-bold fs-5 form-label" for="low_morning">血圧/下(朝)</label>
    <input class="form-control" type="number" name="low_morning" id="low_morning">
  </div>
  <div class="mb-4">
    <label class="fw-bold fs-5 form-label" for="upper_evening">血圧/上(夕)</label>
    <input class="form-control" type="number" name="upper_evening" id="upper_evening">
  </div>
  <div class="mb-4">
    <label class="form-label fw-bold fs-5" for="low_evening">血圧/下(夕)</label>
    <input class="form-control" type="number" name="low_evening" id="low_evening">
  </div>
  <div class="mb-4">
    <label class="form-label fw-bold fs-5" for="pulse">脈拍</label>
    <input class="form-control" type="number" name="pulse" id="pulse">
  </div>
  <div class="mb-4">
    <label class="form-label fw-bold fs-5" for="weight">体重</label>
    <input class="form-control" class="w-75" type="number" name="weight" id="weight">
  </div>
  <div class="align-items-center mb-4">
    <p class="form-label fw-bold fs-5" >お薬ログ</p>
    <textarea class="form-control" name="medicine" id="medicine" cols="30" rows="10"></textarea>
  </div>
  <div class="mb-5">
    <label class="form-label fw-bold fs-5" for="diary">一言日記</label>
    <input class="form-control" type="text" name="diary" id="diary">
  </div>
  <div class="d-flex">
    <input type="submit" class="btn btn-primary" value="新規登録">
    <p><a href="/" class="btn btn-secondary">トップへ戻る</a></p>
  </form>
</div>
{% endblock %}