<!-- base.htmlを読み込む。 -->
{% extends "bootstrap/base.html" %}
{% block content %}
<h1 class="text-center mb-3">登録編集</h1>
<div class="container pb-4">
  <p class="w-25 fw-bold fs-5">今日の日付:{{ post.created_at }}</p>
<form method="POST">
  <div class="d-flex mb-4">
    <label class="w-25 fw-bold fs-5" for="upper_morning">血圧/上(朝)</label>
    <input class="w-75" type="number" name="upper_morning" value={{ post.upper_morning }} id="upper_morning">
  </div>
  <div class="d-flex mb-4">
    <label class="w-25 fw-bold fs-5" for="low_morning">血圧/下(朝)</label>
    <input class="w-75" type="number" name="low_morning" value={{ post.low_morning }} id="low_morning">
  </div>
  <div class="d-flex mb-4">
    <label class="w-25 fw-bold fs-5" for="upper_evening">血圧/上(夕)</label>
    <input class="w-75" type="number" name="upper_evening" value={{ post.upper_evening }} id="upper_evening">
  </div>
  <div class="d-flex mb-4">
    <label class="w-25 fw-bold fs-5" for="low_evening">血圧/下(夕)</label>
    <input class="w-75" type="number" name="low_evening" value={{ post.low_evening }} id="low_evening">
  </div>
  <div class="d-flex mb-4">
  <label class="w-25 fw-bold fs-5" for="pulse">脈拍</label>
  <input class="w-75" type="number" name="pulse" value={{ post.pulse }} id="pulse">
  </div>
  <div class="d-flex mb-4">
    <label class="w-25 fw-bold fs-5" class="w-75" for="weight">体重</label>
    <input class="w-75" ype="number" name="weight" value={{ post.weight }} id="weight">
  </div>
  <div class="d-flex align-items-center mb-4">
    <p class="w-25 fw-bold fs-5">お薬ログ</p>
    <textarea class="w-75" name="medicine" id="medicine" cols="30" rows="10">{{ post.medicine }} </textarea>
  </div>
  <div class="d-flex mb-5">
    <label class="w-25 fw-bold fs-5" for="diary">一言日記</label>
    <input class="w-75" type="text" name="diary" value={{ post.diary }} id="diary">
  </div>
  <div class="text-center">
    <input type="submit" value="更新">
  </div>
</form>
</div>
{% endblock %}