<!-- base.htmlを読み込む。 -->
{% extends "base.html" %}
{% block content %}
<h1 class="text-center mb-3 title">Edit</h1>
<div class="container pb-4">
  <p class="fw-bold fs-5">Today:{{ post.created_at }}</p>
<form method="POST">
  <div class="mb-4">
    <label class="form-label fw-bold fs-5" for="upper_morning">Blood pressure/Upper <img src="{{ url_for('image.static', filename='icon01.png') }}" class="img01"  alt="Morning"></label>
    <input class="form-control" type="number" name="upper_morning" value={{ post.upper_morning }} id="upper_morning">
  </div>
  <div class="mb-4">
    <label class="form-label fw-bold fs-5" for="low_morning">Blood pressure/Low <img src="{{ url_for('image.static', filename='icon01.png') }}" class="img01"  alt="Morning"></label>
    <input class="form-control" type="number" name="low_morning" value={{ post.low_morning }} id="low_morning">
  </div>
  <div class="mb-4">
    <label class="form-label fw-bold fs-5" for="upper_evening">Blood pressure/Upper <img src="{{ url_for('image.static', filename='icon02.png') }}" class="img02"  alt="Evening"></label>
    <input class="form-control" type="number" name="upper_evening" value={{ post.upper_evening }} id="upper_evening">
  </div>
  <div class="mb-4">
    <label class="form-label fw-bold fs-5" for="low_evening">Blood pressure/Low <img src="{{ url_for('image.static', filename='icon02.png') }}" class="img02"  alt="Evening"></label>
    <input class="form-control" type="number" name="low_evening" value={{ post.low_evening }} id="low_evening">
  </div>
  <div class="mb-4">
  <label class="form-label fw-bold fs-5" for="pulse">Pulse</label>
  <input class="form-control" type="number" name="pulse" value={{ post.pulse }} id="pulse">
  </div>
  <div class="mb-4">
    <label class="form-label fw-bold fs-5" class="w-75" for="weight">Weight</label>
    <input class="form-control" ype="number" name="weight" value={{ post.weight }} id="weight">
  </div>
  <div class="mb-4">
    <p class="form-label fw-bold fs-5">Medicine</p>
    <textarea class="form-control" name="medicine" id="medicine" cols="30" rows="10">{{ post.medicine }} </textarea>
  </div>
  <div class="mb-5">
    <label class="form-label fw-bold fs-5" for="diary">Diary</label>
    <input class="form-control" type="text" name="diary" value={{ post.diary }} id="diary">
  </div>
  <div class="d-flex justify-content-center">
    <input type="submit" class="btn btn-primary me-4" value="Update">
    <p class="topBtn ma0"><a href="/" class="btn btn-secondary">Go to Top</a></p>
  </div>
</form>
</div>
{% endblock %}